/* CSS Reset */
*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}

/* ..................Navigation bar styling................ */

#navbar{
    top: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
}
#logo{
    margin: 10px;
}
#logo img{
    border-radius: 10%;
    height: 60px;
    margin: 10px;
}
#navbar ul{
    display: flex ; 
    font-family: 'Baloo Bhai 2', cursive;  
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul li{
    list-style: none;
    font-size: 1.6rem;
}
#navbar ul li a{   
    /* font-family: 'Ubuntu', sans-serif; */
    color: black;
    z-index: 10;
    display: block;
    text-decoration: none;
    padding: 3px 30px;
    border-radius: 25px;
}
#navbar ul li a:hover{   
    color: white;
    background-color: #3AB477;
}

/* ................ Home Section styling................ */

#home{
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    height: 610px;
    content: "";
    background: url('images/foodbg3.jpg') no-repeat center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    color: #179357;
}
.one{
    font-family: 'Bree Serif', serif;
    font-size: 3.0rem;
    padding: 10px;
    font-weight: 100;
}
#home p{
    /* padding-bottom: 100px; */
    color: rgb(32, 30, 30);
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    padding: 50px;
}
.order{
    display: flex; 
    justify-content: space-evenly;
    width: 70%;
}
.zomato{
    padding:  10px 15px;
    background-color: #E23744;
    margin: 15px;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    border: none;
}
.zomato a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.swiggy{
    padding:  10px 15px;
    background-color: #F88921;
    margin: 15px;
    font-size: 1.6rem;
    font-family:sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.swiggy a{
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
}
.btn{
    border: 5px solid #142328;
    padding:  10px 15px;
    background-color: #142328;
    margin: 15px;
    font-size: 1.6rem;
    font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 25%;
}
.btn a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
.btn a span{
    color: #05C167;
}

/* ...................Services section styling.................. */

.services-container h1{
    color: #2e3335;
}
.two{
    font-family: 'Bree Serif', serif;
    font-size: 3.0rem;
    padding: 10px;
    font-weight: 100;
}
.center{
    text-align: center;
}
.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.0rem;
    padding: 20px;
}
.services{
    margin: 35px;
    display: flex;
}
.services #box{
    border: 2px solid red;
    padding: 20px;
    margin: 15px;
    border-radius: 23px;
    background-color: #d2fce8;
}
.services #box img{
    height: 150px;
    margin: auto;
    display: block;
}
.services #box p{
    font-family: 'Bree Serif', serif;
    padding: 10px;  
}

/* ...................Client section styling.................. */
.three{
    font-family: 'Bree Serif', serif;
    font-size: 3.0rem;
    padding: 10px;
    font-weight: 100;
}
#client-section{
    position: relative;
    height: 400px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('images/foodbg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;   
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 150px;
}
.client-item{
    padding: 50px;
}
footer{
    background-color: #2e3335;
    color: white;
    padding: 10px;
}

/* .................... Contact Section ..................... */

.three{
    font-family: 'Bree Serif', serif;
    font-size: 3.0rem;
    padding: 10px;
    font-weight: 100;
}
#contact{
    position: relative;  
    padding:10px;
}
#contact::before{
    content: "";
    position: relative;
    background: url('images/cbg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;   

}
.cimg-cbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#contact-box{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    
    border-radius: 9px;
    font-size: 1.1rem;
    border: none;
    /* background-color: #d2fce8; */
    border-bottom: 2px solid #2e3335;
} 
.form-group{
    padding: 0.5rem;
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Libre Franklin', sans-serif;
}
.send {
margin-top: 2%;
/* margin-left: 25%; */
background-color: #05C167;
padding: 1% 4%;
border: none;
border-radius: 10%;
font-size: x-large;
cursor: pointer;
}
 



